.b-check-amount{
    width: 100%;
}
.b-check-amount__currency,
.b-check-amount__accounts{
  display: flex;
  justify-content: space-between;
}
.b-check-amount__currency{
    padding: 20px 40px 0;
}
.b-check-amount__currency #exchange-ddl-from,
.b-check-amount__currency #exchange-ddl-to {
    font-weight: 500;
}
.b-check-amount__accounts{
    padding: 15px 40px 15px;
    background:#f8f8f8;
    border-bottom: 1px solid #e0e0e0;
}

.updating-data .b-check-amount__currency{
    padding: 20px 40px;
}
.b-check-amount__currency{
    background: #f8f8f8;
    overflow: hidden;
}
.b-check-amount__currency>div,.b-check-amount__accounts>div{
    width: 50%;
    min-width: 50%;
    position: relative;
}
.b-check-amount__currency>div>span{
    cursor: auto;
}
.b-check-amount__value{
    color: #4cae50;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    margin-bottom: 0;
    display: inline-block;
}
.accounts-number{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 5px;
}
.accounts-number span{
    color: #4cae50;
    font-size: 20px;
    font-weight: 600;
    padding-left: 5px;
    letter-spacing: 0.96px;
    line-height: 1.2;
}
.accounts-message{
    display:block;
    color: #000000;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}
.amount-action__btns{
    padding-top: 10px;
    margin: 0 auto 20px;
    text-align: center;
}
.amount-action__btns button{
    margin:0 20px;
}
.amount-action__message{
    max-width: 500px;
    margin: 0 auto 35px;
    padding-left: 50px;
}
.amount-action__message>span{
    display:block;
    padding-left: 50px;
    color: #ff0a0a;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.43px;
    margin-bottom: 20px;
    position: relative;
}
.amount-action__message>span:before{
    content:'';
    width: 24px;
    height: 24px;
    position: absolute;
    top:0;
    bottom:0;
    margin:auto;
    display: block;

}

.b-check-amount__action {
    position: relative;
    z-index: 3;
    padding-top: 20px;
}
.amount-action__submit:disabled {
    cursor: not-allowed;
}
.countdown-message:before{
    background:url(../images/icon-coundown.svg) no-repeat center center;
    background-size:24px 24px ;
    left: 5px;
}
.course-message:before{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid #ff0a0a;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;

}

.course-message:after{
    content: "!";
    width: 36px;
    height: 21px;
    display: block;
    position: absolute;
    color:#fff;
    top: 0;
    bottom: 0;
    left:0;
    margin: auto;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    border-radius: 50%;
}
.b-check-amount__alerts{
    padding: 0 40px;
}
.b-check-amount__alerts>div{
    margin-bottom: 30px;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background: #4cae50;
    color: #fff;
    padding: 16px 40px 0 40px;
}

.timer {
    margin-bottom: 5px;
}
.countdown {
    padding-right: 10px;
}
.current-course {
    margin-bottom: 15px;
}

.countdown-container .timer .seconds, .countdown-container .timer .minutes {
    letter-spacing: 1px;
}

.countdown-container .countdown.animate{
    opacity: 0;
    -webkit-animation: fadeInAnimate 0.2s 0.5s linear forwards;
    -o-animation: fadeInAnimate 0.2s 0.5s linear forwards;
    animation: fadeInAnimate 0.2s 0.5s linear forwards;
}

@keyframes fadeInAnimate {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.b-check-amount__container {
    display: flex;
    align-items: flex-end;
    position: relative;
}
.edit-field-data {
    padding: 0 0 0 0;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    background:url(../images/pencil-edit-button.svg) no-repeat center center;
    background-size: 20px 20px;
    transform: translateY(-14px);
}

.updating-data .edit-field-data{
    display: none;
}

.accounts-number .edit-field-data {
    width: 17px;
    height: 19px;
    background-size: 17px 19px;
    transform: translateY(-7px);
}

.update-data-field {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    border: 1px solid #f8f8f8;
    background: #f8f8f894;
}
.update-data-field.isActive {
    display: flex;
}


.b-check-amount__accounts .update-data-field {
    height: 80px;
    border: 1px solid #fff;
    background: #fff;
}

.update-data-field input {
    width: calc(100% - 60px);
    min-width: 100px;
    height: 45px;
    color: #4cae50;
    font-size: 22px;
    font-weight: 700;
    border: 1px solid #dcd5d5;
    padding: 0 10px;
    outline: none;
}
.update-data-field input:focus {
    border: 1px solid #4cae50;
}

.update-data-field button {
    width: 50px;
    height: 45px;
    margin: 0px 0 0px -5px;
    display: inline-block;
    background: #4cae50;
    color: #fff;
    outline: none;
    border: 1px solid #4cae50;
}
.update-data-msg {
    display: block;
    width: 100%;
    color: #a2a2a2;
    font-size: 14px;
    font-weight: 300;
}

.update-data-msg.error{
    color: #b11212;
}

/* add discount section*/
.b-discount {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0 15px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e0e0e0;
}

.b-discount.buy {
    justify-content: flex-end;
}

.b-discount__wrapper {
    width: 50%;
}
.b-discount.sell .b-discount__wrapper {
    padding:0 10px 0 40px;
}

.b-discount__wrapper>div {
    width: 100%;
    color: #000;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: .28px;
}
.b-discount__wrapper>div span {
    display: inline-block;
    background: #f8f8f8;
    padding: 5px 10px 5px 0;
    color: #4cae50;
    font-weight: 600;
    font-size: 20px;
}
/* add discount section*/

.b-check-amount__currency {
    border-bottom: 1px solid #e0e0e0;
}
.b-check-amount__sum {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.b-check-amount__sum span{
    color: #4cae50;
    font-weight: 700;
    font-size: 22px;
}

.b-amount__editable-data {
    padding: 20px 0;
    background: #f8f8f8;
    text-align: center;
}
.b-amount__edit-btn {
    position: relative;
    border: 1px solid #6595bf;
    background: #6595bf;
    padding: 13px 55px 13px 35px;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}
.b-amount__edit-btn:hover {
    border: 1px solid #557fa5;
    background: #557fa5;
}

.b-amount__edit-btn:after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background:url(../images/pencil-edit-button.svg) no-repeat center center;
    background-size: 20px 20px;
    position: absolute;
    right: 30px;
    top: 10px;
}
.b-amount__modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100vh;
    z-index: 999;
    overflow: scroll;
}
.b-amount__form-wrap {
    padding: 0 40px;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
}
.b-amount__form-wrap>p {
    padding: 15px 25px 0;
}
.b-amount__form-wrap>p:last-child {
    text-align: right;
    padding-top: 0;
    margin-bottom: 30px;
}
.b-amount__form-save {
    border: 1px solid #6595bf;
    background: #6595bf;
    padding: 10px 20px;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.b-amount__form-save:hover {
    border: 1px solid #557fa5;
    background: #557fa5;
}
.b-amount__form-save:focus,
.b-amount__edit-btn:focus {
    box-shadow: none;
    outline: none;
}
.b-amount__form-content {
    height: auto;
    border: 1px solid #fff;
    margin: 0 auto;
}

/*-------- modal form content -------*/
.b-amount__form-content .b-exchange__course,
.b-amount__form-content .b-exchange__maximum,
.b-amount__form-content .currency-filter,
.b-amount__form-content .b-exchange__settings,
.b-amount__form-content .b-exchange__settings--message,
.b-amount__form-content .b-exchange__main:before,
.b-amount__form-content .b-exchange__main:after,
.b-amount__form-content #exchange-list-left,
.b-amount__form-content #exchange-list-right {
    display: none;
}

.b-amount__form-content .b-exchange__main_part--from>div {
    padding-right: 0;
}

.b-amount__form-content .exchange-sum--from,
.b-amount__form-content .exchange-sum--to {
    margin-bottom: 0;
}
.b-amount__form-content #exchange-sum-currency--from,
.b-amount__form-content #exchange-sum-currency--to {
    position: absolute;
    transform: translateY(-60px);
    font-size: 35px;
    right: 10px;
    color: #4cae50;
}

/*-------- modal form content -------*/
