:root {
    --color-red: red;
}
*{
    font-family: 'Fira Sans', sans-serif !important;
}
a{
    transition:.3s;
    cursor:pointer;
}
a:hover{
   text-decoration: none !important;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}
button{
    outline: none;
    cursor:pointer;
}
.main{
    padding-top:100px;
}
a.btn{
    padding-top: 10px;
}
.btn{
    /* Style for "Button" */
    min-width: 250px;
    height: 55px;
    border-radius: 10px;
    border:0;
    -webkit-appearance: none;
    outline: none;
    transition:0.3s;
    font-family: "Fira Sans";
    font-size: 21px;
    font-weight: 500;
    padding: 0 25px;
}
.btn.btn-success{
    box-shadow: 0 3px 0 #2d7c30;
    background-color: #4cae50;
    color:#fff;
}
.btn.btn-success:hover{
    box-shadow: 0 3px 0 #2d7c30;
    background-color: #57c65b;
}
.btn.btn-success:active{
    box-shadow: 0 0 0 #2d7c30;
    background-color: #57c65b;
}



.btn.btn-danger{
    box-shadow: 0 3px 0 #651c1b;
    background-color: #a94442;
    color:#fff;
}
.btn.btn-danger:hover{
    box-shadow: 0 3px 0 #651c1b;
    background-color: #c9514f;
}
.btn.btn-danger:active{
    box-shadow: 0 0 0 #2d7c30;
    background-color: #c9514f;
}

.btn.btn-alert{
    box-shadow: 0 3px 0 #7eabc0;
    background-color: #d7ecf6;
    color:#7eabc0;
}
.btn.btn-alert:hover{
    box-shadow: 0 3px 0 #7eabc0;
    background-color: #e5f7ff;
}
.btn.btn-alert:active{
    box-shadow: 0 0 0 #2d7c30;
    background-color: #e5f7ff;
}

.btn.btn-info{
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;

}
.btn.btn-info:hover{
    background-color: #23cbcf;
    color:#fff;
}
.btn.btn-info:active{
   color:#fff;
    background-color: #17adb1;
}
.b-title--h1{
    color: #000000;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.block-header{
    height: 75px;
    padding: 25px 30px;
    background-color: #f8f8f8;
}
.block-header__text{
    color: #272727;
    font-size: 21px;
    font-weight: 700;
}
.b-main{
    padding:150px 0 30px;
    min-height: calc(100vh - 365px);
}
.b-message{
    position: relative;
    width: 100%;
    max-width: 430px;
    position: relative;
    padding:20px 45px 20px 20px;
    z-index: 9;
    background-color: #8c8c8c;
    margin-top:20px;
    margin-bottom:20px;
}
.b-message__content{
    margin-bottom: 0;
    color:#fff;
    font-size: 16px;
    font-weight: 400;
}
.b-message__close{
    width: 15px;
    height: 15px;
    background-color: #fff;
    color: #8c8c8c;
    border-radius: 8px;
    cursor:pointer;
    position: absolute;
    top:10px;
    right: 10px;
    z-index:2;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    font-weight: 500;
}

.b-message.b-message--green{
    background-color: #40c356;
}
.b-message.b-message--gold{
    background-color: #c3c140;
}
.b-message.b-message--red{
    background-color: #c34240;
}
.b-message.b-message--blue{
    background-color: #4043c3;
}



.b-message--green .b-message__close{
    color:#40c356;
}
.b-message--gold .b-message__close{
    color:#c3c140;
}
.b-message--red .b-message__close{
    color:#c34240;
}
.b-message--blue .b-message__close{
    color:#4043c3;
}
#work-time-message{
    display: none;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    margin: 0 auto;
    padding: 15% 35px 15px 25px;
    z-index: 999;
    background: #1b1b1bd1;
}

#work-time-message>div{
    max-width: 900px;
    margin: 0 auto;
   box-shadow: 0px 3px 16px 1px #d87270;
    padding: 30px 30px 20px 75px;
}

/*noty styles*/
body #noty_layout__bottomLeft {
    bottom: 20px;
    left: 20px;
    width: 100%;
    max-width: 430px;
}

body .noty_theme__bootstrap-v4{
    width: 100%;
    max-width: 430px;
    position: relative;
    padding: 20px 45px 20px 20px;
    z-index: 9;
    background-color: #8c8c8c;
    margin-top: 20px;
    margin-bottom: 20px;
    border:none !important;
    border-radius: 0 !important;;
}

body .noty_theme__bootstrap-v4 .noty_body {
    padding: 0 !important;
    color:#fff !important;
    font-size: 16px !important;
    font-weight: 400 !important;

}
body .noty_theme__bootstrap-v4.noty_type__success{
   background-color: #40c356;

}
body .noty_theme__bootstrap-v4.noty_type__warning{
   background-color: #c3c140;

}
body .noty_theme__bootstrap-v4.noty_type__error{
    background-color: #c34240;

}

body .noty_theme__bootstrap-v4.noty_type__alert{
    background-color: #8c8c8c;

}
body .noty_theme__bootstrap-v4.noty_type__info, body .noty_theme__bootstrap-v4.noty_type__information {
    background-color: #4043c3;
}





body .noty_close_button {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight:400 !important;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 7px !important;
    font-size: 20px;
    background: #ffffff !important;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding: 4px 0;
    color: #8c8c8c;
}





body .noty_theme__bootstrap-v4.noty_type__success .noty_close_button{
    color: #40c356 !important;

}
body .noty_theme__bootstrap-v4.noty_type__warning .noty_close_button{
    background-color: #c3c140!important;

}
body .noty_theme__bootstrap-v4.noty_type__error .noty_close_button{
   color: #c34240!important;

}

body .noty_theme__bootstrap-v4.noty_type__alert .noty_close_button{
    color: #8c8c8c!important;

}
body .noty_theme__bootstrap-v4.noty_type__info .noty_close_button, body .noty_theme__bootstrap-v4.noty_type__information .noty_close_button{
    color: #4043c3!important;
}


/*noty styles*/















.work-time-message__close{
    width: 20px;
    height: 20px;
    background: #a94442 url("../images/close-white.svg") no-repeat center center;
    background-size:10px 10px;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    font-size: 20px;
    text-align: center;
    line-height: 22px;
    font-weight: 500;
}




.b-alert--success{
    border-radius: 7px;
    background-color: #c9dec4;
    padding: 20px 15px;
    border-top:18px solid #80c18f;
}
.b-alert__title{
    color: #356635;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding-left: 30px;
}
.b-alert--success .b-alert__title:before{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid #4f6636;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    z-index: 0;
}
.b-alert--success .b-alert__title:after{
    content: "!";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    z-index: 1;
    color: #c9dec4;
}
.b-alert__message{
    color: #35663b;
    font-size: 14px;
    font-weight: 400;
}


/*.order-alert--top .b-alert--info{*/
    /*padding: 20px 20px 5px 70px;*/
    /*box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.16);*/
/*}*/








.b-alert--info{
    border-radius: 7px;
    background-color: #d7ecf6;
    padding: 20px 30px 5px 75px;
    border-left:18px solid #9ccde4;
    color: #427892;
    position: relative;
}

.b-alert--info:before{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid #9ccde4;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;

}

.b-alert--info:after{
content: "!";
    width: 34px;
    height: 21px;
display: block;
position: absolute;
color:#5b7e90;
top: 0;
bottom: 0;
left: 20px;
margin: auto;
text-align: center;
font-size: 21px;
font-weight: 600;
border-radius: 50%;
}



.b-alert--info .b-alert__title{
    color: #427892;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 10px;
    padding-left: 0;
    line-height: 20px;
}
.b-alert--info .b-alert__message{
    color: #427892;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.08px;
    line-height: 18px;
}

.b-alert--info .b-alert__message p,.b-alert--info  p span{
    color: #427892 !important;
}
.b-alert--info.circle-icon:before{
    display: none;}
.b-alert--info.circle-icon:after{
    content: "!";
    width: 34px;
    height: 34px;
    font-size: 22px;
    background: #9ccde4;
}
.b-alert--info.alert-green{
    background-color: #c9dec4;
    border-left:18px solid #80c18f;
    color: #35663b;
}
.b-alert--info.alert-green:before{
    border-bottom: 30px solid #4f6636;
}
.b-alert--info.alert-green:after{
    color: #c9dec4;
}
.b-alert--info.alert-green .b-alert__title{
    color: #356635;
}
.alert-green .b-alert__message{
    color: #35663b;
}
.alert-green  p,.alert-green  p span, .alert-green  p em{
    color: #35663b !important;
}


.b-alert--info.alert-red{
    background-color: #f2dddd;
    border-left:18px solid #a94442;
    color: #a94442;
}
.b-alert--info.alert-red:before{
    border-bottom: 30px solid #a94442;
}
.b-alert--info.alert-red:after{
    color: #f2dddd;
}
.b-alert--info.alert-red .b-alert__title{
    color: #a94442;
    letter-spacing: 0.96px;
}
.alert-red p,.alert-red p span, .alert-red p em{
    color:#a94442 !important;
}

.b-outline-alert{
    background: hsla(0, 0%, 79%, 0.43922);
    color: #5d5d5d;
    padding: 25px 25px 10px;
    border: 4px solid rgba(154, 154, 154, 0.81176);
    border-radius: 4px;
    box-shadow: 0 1px 10px 1px #a9a9a9;
}
.b-outline-alert.center{
    text-align: center;
}
.b-outline-alert.b-outline-alert--red{
    background: #e2949470;
    color: #8e3f3f;
    padding: 25px 25px 10px;
    border: 4px solid #c34240cf;
    border-radius: 4px;
    box-shadow: 0px 1px 10px 1px #c34240;
}
.b-outline-alert.b-outline-alert--blue{
    background: #39d0d55e;
    color: #246b6d;
    padding: 25px 25px 10px;
    border: 4px solid hsl(182, 65%, 53%);
    border-radius: 4px;
    box-shadow: 0 1px 10px 1px #acecef;
}
.b-outline-alert.b-outline-alert--green{
    background: hsla(117, 100%, 83%, 0.75);
    color: #2e5d2f;
    padding: 25px 25px 10px;
    border: 4px solid hsl(121, 26%, 66%);
    border-radius: 4px;
    box-shadow: 0 1px 10px 1px #7ec57f;
}
.b-outline-alert__title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}





.b-alert--info.alert-blue{
    background-color: #365f71;
    border-left:18px solid #3283a9;
    color: #a94442;
}
.b-alert--info.alert-blue:before{
    border-bottom: 30px solid #3283a9;
}
.b-alert--info.alert-blue:after{
    color: #f2dddd;
}
.b-alert--info.alert-blue .b-alert__title{
    color:  #e8e8e8;
    letter-spacing: 0.96px;
}
.alert-blue p,.alert-blue p span, .alert-blue p em{
    color: #ffffff !important;
}









.b-alert-warning{
    border-radius: 7px;
    background-color: #fdf6e1;
    border-left: 15px solid #f2e9cd;
    padding: 18px 15px;
}
.b-alert-warning .b-alert-message{
    color: #786734;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.84px;
    margin-bottom: 0;
}



.page-text{
    color:#000;
    font-size:16px;
}
.page-text a{
    color: #3e77aa;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}
.page-text a:hover{
    color:#c9514f;
}
.page-text a:active{
    color:#599ad3;
}
.page-text .text-info,.page-text .text-danger{
    font-weight: 500;
}
.page-text .text-info{
    color: #3e77aa;
}
.page-text .text-danger{
    color: #a94442;
}
.page-text .copy{
    color: #3e77aa;
}
.page-text .copy input{
    position: absolute;
    opacity: 0;
    z-index:-1;
}
.icon-copy{
    width: 14px;
    height: 14px;
    display: inline-block;
    background: url("../images/copy-document.svg") no-repeat center center;
    background-size: 14px 14px;
    cursor:pointer;
    margin-left: 3px;
}
.icon-copy.ic-black{
    width: 14px;
    height: 14px;
    background: url("../images/copy-document-black.svg") no-repeat center center;
    background-size: cover !important;
    margin-left: 3px;
}
@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}


/*TODO  remove page and css all-pages.html for production version*/

.all-pages{
    width: 100%;
    max-width: 400px;
    background-color: #dde0e8;
}

.all-pages a{
    padding: 10px;
    display: block;
    color: #3ad2d5;
    background: #355f71;
    border-bottom: 1px solid #477a90;
}

.all-pages a:hover{
    background: #447990;
}
.desc{
    color: #3ad2d5;
    background: #355f71;
}
.all-pages .done{
    background: #4cae50;
    color:#fff;
}
.all-pages a.done,.done{
    background: #3dae72;
    color:#fff;
}
/*news-page*/
.page-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 1.7px;
}
.news-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-articles .b-article{
    width: 48%;
    max-width: 48%;
    margin: 0 0 40px;
    transition:0.3s;
}
.news-articles .b-article:hover{
    transform:translateY(-4px);
    box-shadow: 0 9px 17px 4px rgba(0,0,0,.16);
}


.alert-modal{
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    background: #000000c7;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
}
.alert-modal__body{
    overflow: auto;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    padding: 75px 5% 45px;
}
.alert-modal__body .container{
    padding-top: 10%;
}
.alert-modal__close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 40px;
    background: url("../images/close.svg") no-repeat center center;
    background-size:30px 30px ;
    opacity: 0.5;
    transition:0.3s;
    cursor: pointer;
    z-index: 9;
}
.alert-modal__close:hover{
    opacity: 0.9;
}
.timer-message{
    position: absolute;
    bottom: -17px;
    color: #c1c1c1;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background: #424242;
    overflow: hidden;

}
#timer-count{
    color: #f5f5f5;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    min-width: 30px;
    display: inline-block;
    position: relative;
    z-index:3;
}
.timer-loader{
    position: absolute;
    display: block;
    width: 100%;
    height:6px;
    background: rgba(98, 203, 208, 0.85);
    bottom: 0;
    left: 0;
    z-index: 1;
    animation-name:timerDown;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.no-scroll{
    overflow: hidden !important;
}
@keyframes timerDown {
    0%   {transform:translateX(0);}
    100%  {transform:translateX(-100%); }

}

.review-btn-fixed {
    display: block;
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    margin:0;
    text-align: center;
    padding: 10px;
    transition:bottom .3s linear;
    opacity: 0;
    animation: showReviewBtn .5s 1.5s linear forwards;
}

.review-btn-fixed.hide-btn {
   bottom:-100px;
}

.btn-leave-review{
    line-height: 38px;
}

@keyframes showReviewBtn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
















/*owl slider*/
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1; }
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
.owl-carousel .owl-item img {
    display: block;
    width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
    display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }
.owl-carousel.owl-loaded {
    display: block; }
.owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
.owl-carousel.owl-hidden {
    opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
.owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
.owl-carousel.owl-rtl {
    direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
    display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
    animation-duration: 1000ms;
    animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
    z-index: 0; }

.owl-carousel .owl-animated-out {
    z-index: 1; }

.owl-carousel .fadeOut {
    animation-name: fadeOut; }

@keyframes fadeOut {
    0% {
        opacity: 1; }
    100% {
        opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
    transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item {
    /**
              This is introduced due to a bug in IE11 where lazy loading combined with autoheight plugin causes a wrong
              calculation of the height of the owl-item that breaks page layouts
           */ }
.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease; }
.owl-carousel .owl-item .owl-lazy[src^=""], .owl-carousel .owl-item .owl-lazy:not([src]) {
    max-height: 0; }
.owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000; }

.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url("owl.video.play.png") no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
    -ms-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
    display: none; }

.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%; }

/*end owl slider*/