:root {
    --color-red: red;
}
*{
    font-family: 'Fira Sans', sans-serif !important;
}
a{
    transition:.3s;
}
a:hover{
   text-decoration: none !important;
}
ul{
    padding: 0;
}
ul li{
    list-style: none;
}
button{
    outline: none;
}
.main{
    padding-top:100px;
}
a.btn{
    padding-top: 10px;
}
.btn{
    /* Style for "Button" */
    min-width: 250px;
    height: 55px;
    border-radius: 10px;
    border:0;
    -webkit-appearance: none;
    outline: none;
    transition:0.3s;
    font-family: "Fira Sans";
    font-size: 21px;
    font-weight: 500;
}
.btn.btn-success{
    box-shadow: 0 3px 0 #2d7c30;
    background-color: #4cae50;
    color:#fff;
}
.btn.btn-success:hover{
    box-shadow: 0 3px 0 #2d7c30;
    background-color: #57c65b;
}
.btn.btn-success:active{
    box-shadow: 0 0 0 #2d7c30;
    background-color: #57c65b;
}



.btn.btn-danger{
    box-shadow: 0 3px 0 #651c1b;
    background-color: #a94442;
    color:#fff;
}
.btn.btn-danger:hover{
    box-shadow: 0 3px 0 #651c1b;
    background-color: #c9514f;
}
.btn.btn-danger:active{
    box-shadow: 0 0 0 #2d7c30;
    background-color: #c9514f;
}

.btn.btn-alert{
    box-shadow: 0 3px 0 #7eabc0;
    background-color: #d7ecf6;
    color:#7eabc0;
}
.btn.btn-alert:hover{
    box-shadow: 0 3px 0 #7eabc0;
    background-color: #e5f7ff;
}
.btn.btn-alert:active{
    box-shadow: 0 0 0 #2d7c30;
    background-color: #e5f7ff;
}

.btn.btn-info{
    background-color: #fff;
    border: 1px solid #000000;
    color: #000000;

}
.btn.btn-info:hover{
    background-color: #23cbcf;
    color:#fff;
}
.btn.btn-info:active{
   color:#fff;
    background-color: #17adb1;
}
.block-header{
    height: 75px;
    padding: 25px 30px;
    background-color: #f8f8f8;
}
.block-header__text{
    color: #272727;
    font-size: 21px;
    font-weight: 700;
}
.b-main{
    padding:150px 0 30px;
    min-height: calc(100vh - 365px);
}

.b-alert--success{
    border-radius: 7px;
    background-color: #c9dec4;
    padding: 20px 15px;
    border-top:18px solid #80c18f;
}
.b-alert__title{
    color: #356635;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding-left: 30px;
}
.b-alert--success .b-alert__title:before{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid #4f6636;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    left: 0;
    z-index: 0;
}
.b-alert--success .b-alert__title:after{
    content: "!";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    z-index: 1;
    color: #c9dec4;
}
.b-alert__message{
    color: #35663b;
    font-size: 14px;
    font-weight: 400;
}

.page-text{
    color:#000;
    font-size:16px;
}
.page-text a{
    color: #3e77aa;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}
.page-text a:hover{
    color:#c9514f;
}
.page-text a:active{
    color:#599ad3;
}
.page-text .text-info,.page-text .text-danger{
    font-weight: 500;
}
.page-text .text-info{
    color: #3e77aa;
}
.page-text .text-danger{
    color: #a94442;
}

@media (min-width: 1200px){
    .container {
        max-width: 1170px;
    }
}


/*TODO  remove page and css all-pages.html for production version*/

.all-pages{
    width:400px;
    background-color: #dde0e8;
}

.all-pages a{
    padding: 10px;
    display: block;
    color: #3ad2d5;
    background: #355f71;
    border-bottom: 1px solid #477a90;
}

.all-pages a:hover{
    background: #447990;
}


/*news-page*/
.page-title{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
    letter-spacing: 1.7px;
}
.news-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.news-articles .b-article{
    width: 48%;
    max-width: 48%;
    margin: 0 0 40px;
    transition:0.3s;
}
.news-articles .b-article:hover{
    transform:translateY(-4px);
    box-shadow: 0 9px 17px 4px rgba(0,0,0,.16);
}

























/*slick slider*/
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*end slick slider*/