.btn-exchange-status{
    margin-top: 30px;
    font-size:18px;
}
.b-application-data{
    margin-bottom: 25px;
    padding-top: 10px;
}
.b-application-data--border{
    border-bottom:1px solid rgba(130, 128, 148, 0.2);
}
.b-application-data__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.b-application-data__item span{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
}
.b-application-data__currency{
    position: relative;
    padding-left: 40px;
}
.b-application-data__currency:before{
    content: '';
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top:0;
    bottom:0;
    margin:auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.cancel-operation{
    font-size: 16px;
    min-width: 200px;
    height: 36px;
    margin: 20px auto 0;
}
.b-instructions{
    padding-top: 15px;
}
.b-instructions__list{
    padding-left: 15px;
}
.b-instructions .text-danger{
    cursor: pointer;
}
.exchange .modal-header{
 background: #24d0d4;
    color:#fff;
}
.exchange .modal-header h5{
    font-size:16px;
}

.b-attach-image{
    padding-top: 30px;
}
.b-attach-image__buttons{
    text-align: center;
    padding-top: 30px;
}
.b-attach-image__buttons button{
    margin:0 23px;
    padding: 0 20px;
}
.fs-upload-target{
    width: 385px;
    min-height: 192px;
    border-radius: 7px;
    border: 4px dashed #40444f;
    margin: 0 auto;
    padding: 80px 20px 10px;
    text-align: center;
    position: relative;
}
.fs-upload-target:before{
    content: '';
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top:10px;
    right:0;
    margin:auto;
    background-image:url(../images/download.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 60px 56px;
}
.fs-upload-dropping .fs-upload-target,.fs-upload-target:hover{
   background: #ccfeff;
}
.fs-upload-target span{
    display: block;
    margin: 0 auto;
    color: #40444f;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.28px;
}
.fs-upload-target span:first-child{
    color: #40444f;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: 0.42px;
}
.b-countdown{
    text-align: center;
    padding-top: 20px;
}
.b-countdown__labels{
    padding-top: 10px;
}
.b-countdown__labels span{
    display: inline-block;
    width: 150px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    color: #656565;
    background: -webkit-linear-gradient(#4a4a4a,#e6e6e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}




/*waiting-verification*/
.waiting-verification .b-alert--info {
    padding: 35px 30px 20px 75px;
    margin-bottom: 30px;
}
.waiting-verification .b-alert--info .b-alert__message {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.08px;
    line-height: 22px;
}

.waiting-verification__send{
    min-width: 300px;
}
/*waiting-verification*/

/*Cancel verification*/
.cancel-verification .b-alert--info.alert-red{
    padding: 35px 75px 20px 75px;
    margin: 30px 0 35px;
}
.cancel-verification .b-alert--info.alert-red .b-alert__message {
    letter-spacing: 1.08px;
    line-height: 25px;
}

.cancel-verification__causes{
    color: #000000;
}
.cancel-verification__causes ol{
    padding-left: 15px;

}

/*Cancel verification*/