.exchange{
    padding-top: 50px;
    margin-bottom: 35px;
}
.b-exchange{
    width: 800px;
    min-height: 285px;
    margin: 0 auto 25px;
    background-color: #fff;
    display: block;
    box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    position: relative;
}
.b-exchange__main{
    display: flex;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    padding: 20px 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    z-index:4;
}
.b-exchange__main:before{
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 20px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 0;
    margin: auto;
    left: 0;
    right: 0;
    background: #24d0d4;
    top: -10px;
    z-index: 2;
    animation:form-before .3s 1.7s linear forwards;
}
.b-exchange__main:after{
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 40px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 0;
    margin: auto;
    left: 0;
    right: 0;
    background: #4cae50;
    top: -20px;
    z-index: 1;
    animation:form-before .3s 1.5s linear forwards;
}

@keyframes form-before {
    0% {height:0;}
    100% {height:10px;}
}
@keyframes form-after {
    0% {top:0;}
    100% {top:-20px;}
}
.b-exchange__main_part{
    width: 50%;
    position: relative;
}
.b-exchange__main_part--from{
    border-right:1px solid #eaeaea;
    padding: 10px 15px 30px 30px;
}
.b-exchange__main_part--to{
    border-right:1px solid #eaeaea;
    padding: 10px 30px 30px;
}
.b-exchange__main_part--from>div{
    padding-right:60px;
}
.b-exchange__main_part--from>p{
    width: 55px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 0;
}
.b-exchange__footer{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 3;
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.b-exchange__footer>div{
    width: 50%;
    padding: 30px 30px 20px;
    margin-bottom: 20px;
}
.b-exchange__footer--left{
    border-right:1px solid #eaeaea;
}
.b-exchange__footer span{
    display: block;
    color: #909090;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

#exchange-ddl-from,#exchange-ddl-to{
    padding-left: 40px;
    padding-right: 15px;
    position: relative;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
#exchange-ddl-from:before,#exchange-ddl-to:before{
    content:'';
    width:30px;
    height: 30px;
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin: auto;
    -webkit-background-size: cover !important;
    background-size: cover !important;

}

/*#exchange-ddl-from:after,#exchange-ddl-to:after{*/
    /*content: "";*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left: 5px solid transparent;*/
    /*border-right: 5px solid transparent;*/
    /*border-top: 7px solid #000;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0px;*/
    /*margin: auto;*/

/*}*/
.PMUSD:before{
    background-image: url("../images/currency-perfectmoney.png");
}
.P24UAH:before{
    background-image: url("../images/currency-privat24.png");
}
.WEXUSD:before{
    background-image: url("../images/currency-wex.png");
}
.PMBBUAH:before{
    background-image: url("../images/currency-pumb.png");
}
.ADVCUSD:before{
    background-image: url("../images/currency-advanced.png");
}
.BTC:before{
    background-image: url("../images/currency-bitcoin.png");
}
.YAMRUB:before{
    background-image: url("../images/currency-yandex.png");
}
.XRP:before{
    background-image: url("../images/currency-ripple.png");
}
.PRUSD:before{
    background-image: url("../images/currency-payeer.png");
}
.QWRUB:before{
    background-image: url("../images/currency-qiwi.png");
}
.SBERRUB:before{
    background-image: url("../images/sberbanklogo.jpg");
}
.TCSBRUB:before{
    background-image: url("../images/tenikoff.jpg");
}
.ACRUB:before{
    background-image: url("../images/alfabank.jpg");
}
.TBRUB:before{
    background-image: url("../images/vtb_logo.jpg");
}

.b-exchange__input, .order-page .b-exchange__input{
    display: block;
    margin-top: 10px;
    outline: none;
    width:100%;
    max-width: 280px;
    color: #4cae50;
    background: #0000000d;
    padding-left: 5px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 0.7px;
    border:0;
}
.b-exchange__input::placeholder{
    color: #bb2e23;
    font-size: 18px;
    font-weight: 400;
    transition:0.3s;
}
.b-exchange__input.error-msg::placeholder{
   color: #24d0d4;
}

.b-exchange__settings{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: #f5f1f1;
    border:0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition:0.3s;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 15px;
    background-size: 15px;

}
.b-exchange__settings--reverse{ background-image: url(../images/exchange-arrows.svg);}
.b-exchange__settings--full{ background-image: url(../images/switch-to-full-screen-button.svg);}
.b-exchange__settings--full.active{
    background-color: #2e5fd5;
    background-image: url(../images/resize-arrows.svg);}
.b-exchange__settings:hover{
    background-color: #bdbaba;
}


.order-page .b-exchange__settings--full.active,.home-page .b-exchange__settings--full.active{
    background-color: #fff;
    background-image: url(../images/switch-to-full-screen-button.svg);}
.order-page.full-screen .b-exchange__settings--full.active,.order-page.full-screen .b-exchange__settings--full, .home-page.full-screen .b-exchange__settings--full.active,.home-page.full-screen .b-exchange__settings--full{
    background-color: #2e5fd5;
    background-image: url(../images/resize-arrows.svg);}






.b-exchange__settings--message {
    display: none;
    position: absolute;
    background: #3c8188;
    border-radius: 8px 8px 0 8px;
    min-width: 175px;
    font-size: 14px;
    padding: 8px 15px;
    top: -60px;
    right: 15px;
    z-index: 5;
    color: #ffffff;
    animation: settings--message 1s 2s linear forwards;
}
.b-exchange__settings--message.done{
    display: none;
}
.b-exchange__settings--message:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 21px solid transparent;
    border-top-color: #3c8188;
    border-bottom: 0;
    border-right: 0;
    margin-left: 55px;
    margin-bottom: -21px;
    animation: settings--message-after 1s 2s linear forwards;
}
@keyframes open-list-from {
   0% {left:0;}
   100% {left:-180px;}
}
@keyframes open-list-to {
    0% {right:0;}
    100% {right:-180px;}
}
@keyframes settings--message {

    0% {background: #5db8c1;}
    20% {background: #3c8188;}
    40% {background: #5db8c1;}
    60% {background: #3c8188;}
    80% {background: #5db8c1;}
    100% {background: #3c8188;}
}
@keyframes settings--message-after {

    0% {border-top-color: #5db8c1;}
    20% {border-top-color: #3c8188;}
    40% {border-top-color: #5db8c1;}
    60% {border-top-color: #3c8188;}
    80% {border-top-color: #5db8c1;}
    100% {border-top-color: #3c8188;}
}

.b-exchange-currency{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    position: absolute;
    top: 0;
    width: 200px;
    /*height: 302px;*/
    z-index: 2;
    /*box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.16);*/
    background-color: #ffffff;
    overflow-y: scroll;
}
#exchange-currency-from.scroll-items,#exchange-currency-to.scroll-items{
    width: 183px;
}


.home-page.full-screen #exchange-currency-from{
    position: relative;
    width: 50%;
    float: left;
    border-right: 1px solid #eaeaea;
    transform:translateX(180px);
    transition:0.5s;
    overflow-y: auto;
    height: auto;
}
.home-page.full-screen #exchange-currency-to{
    position: relative;
    transform:translateX(-180px);
    width: 50%;
    float:right;
    transition:0.5s;
    overflow-y: auto;
    height: auto;
}
.home-page.full-screen .b-exchange-currency__item{
    height: 30px;
    border-bottom:1px solid #eaeaea;
}









.isVisited .order-page .full-list #exchange-currency-from,.isVisited .order-page .full-list #exchange-currency-to{
    transform:translateX(0);
    animation: none;
    width: 50%;
}
.isVisited .order-page  #exchange-currency-from{
    transform:translateX(-180px);
    animation: none;
}
.isVisited .order-page  #exchange-currency-to{
    transform:translateX(180px);
    animation: none;
}
#exchange-currency-from{
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    animation: open-list-from .5s 1.5s linear forwards;
}
#exchange-currency-to{
    right: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    direction: rtl;
    animation: open-list-to .5s 1.5s linear forwards;
}
.b-exchange-currency__item{
    padding: 6px 5px 5px 40px;
    font-size: 13px;
    cursor:pointer;
    position: relative;
}
.b-exchange-currency__item.currency_disabled{
    background: #dedede;
    opacity: 0.7;
    cursor: not-allowed;
}
#exchange-currency-from .b-exchange-currency__item:first-child{
    border-top-left-radius: 5px;
}
#exchange-currency-from .b-exchange-currency__item:last-child{
    border-bottom-left-radius: 5px;
    padding-bottom: 7px;
}
#exchange-currency-to .b-exchange-currency__item:first-child{
    border-top-right-radius: 5px;
}
#exchange-currency-to .b-exchange-currency__item:last-child{
    border-bottom-right-radius: 5px;
    padding-bottom: 7px;
}
.b-exchange-currency__item.active,.b-exchange-currency__item:hover{
    background-color:#bbb6f8;
}
.b-exchange-currency__item:before{
    content:'';
    position: absolute;
    display: block;
    height: 16px;
    width: 16px;
    left: 20px;
    background-repeat: no-repeat;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    background-position: center center;
}
.exchange-submit{
    padding-top: 5px;
    margin-bottom: 35px;
}
.b-exchange__footer_icon{
    position: relative;
    padding-left:25px;
}
.b-exchange__footer_icon:before{
   content:'';
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    margin: auto;
}
.b-exchange__footer_icon--calendar:before{
    background: url(../images/calendar.svg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 16px;
    height: 17px;
}
.b-exchange__footer_icon--clock:before{
    background: url(../images/clock.svg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 17px;
    height: 17px;
}
.b-exchange__footer_icon--retweet:before{
    background: url(../images/retweet.svg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 20px;
    height: 16px;
}
.b-exchange__footer_icon--tag:before{
    background: url(../images/tags.svg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    width: 20px;
    height: 15px;
}




/*new order page list*/

.order-page #exchange-lists #exchange-currency-from{
    left:-14px;
    top:146px;
    transform: translate(0);
    animation: none;
}
.order-page #exchange-lists #exchange-currency-to{
    right:-14px;
    top:146px;
    transform: translate(0);
    animation: none;
}

#exchange-list-left,#exchange-list-right{
    width: 50%;
    float: left;
    height: 0;
}
#exchange-list-right:after{
    content:'';
    clear: both;
}
.order-page.full-screen  #exchange-lists #exchange-currency-from,.order-page.full-screen #exchange-lists #exchange-currency-to{
    top: 343px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
    width: 400px;
}
.order-page.full-screen #exchange-lists #exchange-currency-from {
    left: 170px;
}
.order-page.full-screen #exchange-lists #exchange-currency-to {
    right: 170px;
}
.order-page.full-screen #exchange-lists #exchange-currency-from li,.order-page.full-screen #exchange-lists #exchange-currency-to li{
    border-radius: 0;
}
.help-block {
    padding-top: 5px;
}