.b-profile{
    box-shadow: 0 2px 14px 2px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
}
.b-profile.container-sm{
    width: 100%;
    max-width: 840px;
    margin:0 auto;
}
.b-profile.container-md{
    width: 100%;
    max-width: 930px;
    margin:0 auto 35px;
}
.b-profile__header{
    min-width: 100%;
    height: 77px;
    text-align: center;
    background: #24d0d4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b-profile__header p{
    color: #fff;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1.26px;
}
.b-profile__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.b-profite__part--left{
   width: 365px;
    min-width: 365px;
    padding: 0 20px 30px;
    background-color: #f8f8f8;
}
.b-profite__part_title{
    padding: 30px 0 0;
    color: #828094;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    position: relative;
    z-index:0;
}
.b-profite__part_title:after{
    content: '';
    width:100%;
    height: 1px;
    background-color: rgba(130, 128, 148, 0.21);
    position: absolute;
    top:44px;
    left: 0;
    z-index:1;

}

.b-profite__part_title span{
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding-right: 10px;
}
.b-profite__part--left .b-profite__part_title span{
    background-color: #f8f8f8;
}


.b-profite__menu_item{
    padding: 13px 10px 13px 35px;
    position: relative;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    display: block;
}
.b-profite__menu_item:hover,.active.b-profite__menu_item{
    color: #24d0d4;
}



.b-profite__menu_item:before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top:0;
    bottom:0;
    margin:auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 17px;

}

.personal-data-item:before{
    background-image: url(../images/user.svg);

}
.history-item:before{
    background-image: url(../images/history.svg);
}
.partners-item:before{
    background-image: url(../images/user-friends.svg);
}
.templates-item:before{
    background-image: url(../images/exchange-alt.svg);
}
.remuneration-item:before{
    background-image: url(../images/atm.svg);
}
.payment-item:before{
    background-image: url(../images/wallet.svg);
}
.password-item:before{
    background-image: url(../images/lock.svg);
}
.entered-item:before{
    background-image: url(../images/enter.svg);
}


.personal-data-item:hover::before,.active.personal-data-item:before{
    background-image: url(../images/user-hover.svg);
}
.history-item:hover::before,.active.history-item:before{
    background-image: url(../images/history-hover.svg);
}
.partners-item:hover::before,.active.partners-item:before{
    background-image: url(../images/user-friends-hover.svg);
}
.templates-item:hover::before,.active.templates-item:before{
    background-image: url(../images/exchange-alt-hover.svg);
}

.remuneration-item:hover::before,.active.remuneration-item:before{
    background-image: url(../images/atm-hover.svg);
}

.payment-item:hover::before,.active.payment-item:before{
    background-image: url(../images/wallet-hover.svg);
}

.password-item:hover::before,.active.password-item:before{
    background-image: url(../images/lock-hover.svg);
}
.entered-item:hover::before,.active.entered-item:before{
    background-image: url(../images/enter-hover.svg);
}

.b-profite__current-time{
    color: #4cae50;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    padding: 0 10px 0 35px;
    position: relative;
}
.b-profite__current-time:before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top:0;
    bottom:0;
    margin:auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px 17px;
    background-image: url(../images/clock-history.svg);
}
.b-profile__sidebar_alert{
    margin:30px 0 55px;

}
.btn-exit{
    min-width: 204px;
    height: 45px;
    margin: 0 auto;
    display: block;
}



.b-profite__part--right{
    padding: 0 20px 30px;
    max-width: 775px;
    width: 100%;
}
@keyframes fadein-block {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.b-profite__main{
    opacity: 0;
    animation:fadein-block 0.4s .3s linear forwards;
}

.download-history{
    padding-top: 6px;
    color: #000000;
    font-size: 16px;
}
.download-history svg{
    width: 16px;
}
.download-history a{
    color:#4cae50;
    margin-left: 5px;
    text-decoration: underline;
}
.download-history a:hover{
    color:#24d0d4;
}
.b-profile__list-large{
    width: calc(100% + 40px);
    margin-left: -20px;
}
.history-list__item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #000;
    padding: 0 23px;
    min-height: 35px;
    transition: 0.3s;
}
.history-list__item:not(:first-child){
    background: #f3f3f3;
    padding: 10px;
    margin-bottom: 10px;
}
.history-list__item:not(:first-child):hover{
    background-color:#ececec;
}
/*.history-list__item:nth-child(odd){*/
    /*background-color: #e0dfe3;*/
/*}*/
.history-list__item.history-list__item_title{
    font-weight: 700;
    background-color: #fff;
    border-bottom:1px solid #d8d8d8;
}
.history-list__item .item-title{
    display:none;
}

.item-order{
width: 100px;
min-width: 100px;
}
.item-date{
    width: 110px;
    min-width: 110px;
}
.item-exchange{
    width: 380px;
    min-width: 380px;
}
.item-status{
    width: 130px;
    min-width: 130px;
}



.item-data__from,.item-data__to{
    position: relative;
    padding: 0 10px 0 20px;
    display: block;
}
.item-data__from{
    padding-bottom: 10px;
}
.item-data__from:before,.item-data__to:before{
   content:'';
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
}

.item-data__from:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid #3d6d3d;
    border-right: 5px solid transparent;
    display: block;
    position: absolute;
    bottom: 4px;
    left: 4px;
}

.item-status{
    display: block;
    position: relative;
}
.item-status .item-data{
    color: #468cad;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
}
.new .item-status .item-data{
    color: #468cad;
}
.in-progress .item-status .item-data{
    color: #24d0d4;
}
.failed .item-status .item-data{
    color: #ae4e4c;
}
.completed .item-status .item-data{
    color: #4cae50;
}
/*.status-error .item-status .item-data{*/
    /*color: #468cad;*/
/*}*/
.item-status__preloader{
    width: 30px;
    height: 30px;
    background: url(../images/sync-reload.svg) no-repeat center center;
    background-size: 20px;
    display: none;
    position: absolute;
    right: 0;
    top: -5px;
    cursor: pointer;
}
.completed .item-status__preloader{
    display: none;
}



/*profile templates page*/
.templates-list .history-list__item{
    min-height: 45px;
}
.item-course{
    min-width: 260px;
    width: 260px;
}
.item-sum{
    min-width: 70px;
    width: 70px;
}
.item-type{
    min-width: 70px;
    width: 70px;
}
.item-send-from{
    min-width: 140px;
    width: 140px;
}
.item-send-to{
    min-width: 155px;
    width: 155px;
}
.item-course a{
    color: #3e77aa;
}
.item-course a>span:first-child{
    padding-right: 10px;
    position: relative;

}
.item-course a>span:first-child:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid #3e77aa;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: block;
    position: absolute;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;

}
.item-course a:hover{
    color: #fb3f4c;
}

.item-course a:hover span:first-child:after{
    border-left: 5px solid #fb3f4c;

}
.item-send-to .item-data{
    position: relative;
    display: block;
}
.item-send--remove{
    width: 30px;
    height: 30px;
    background: url(../images/delete-icon.svg) no-repeat center center;
    background-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 4px;
}
.item-send--remove:hover{
    background-color: #efc4c482;

}
.b-exchange-template{
    display: flex;
    padding-top: 30px;
}
.b-exchange-template>div{
    width: 50%;
    min-width: 50%;
    padding-top: 10px;
}
.b-exchange-template>div:first-child{
    border-right: 1px solid #eaeaea;
    padding-right:35px;
}
.b-exchange-template>div:last-child{
    padding-left:35px;
}
.b-exchange-template #exchange-currency-from,.b-exchange-template #exchange-currency-to{
    animation:none;
    height: auto;
    overflow-y: auto;
    padding: 0;
}
.b-exchange-template .b-exchange__settings--reverse{
    float: right;
}
.exchange-sum-label{
    color: #4cae50;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
    padding-top: 30px;
    clear: both;
    margin-bottom: 0;
}
.exchange-sum{
    position: relative;
    padding-right: 100px;
    margin-bottom: 50px;
}
.exchange-sum>span{
    position: absolute;
    right: 0;
    top: 5px;
    color: #4cae50;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}
.exchange-sum .b-exchange__input{
    max-width: 220px;
    margin-top: 0;
}
.profile-input-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-input-field label{
    margin:0;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.28px;
}
.profile-input-field input{
    width: 151px;
    height: 38px;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    padding: 0 5px;
}
.profile-input-field input::placeholder{
    color:#cecece;
}
.account-number-container{
    margin-bottom: 0;
}
.account-number-message{
    display: block;
    padding: 12px 20px 11px;
    border-radius: 7px;
    background-color: #f2dddd;
    color: #a94442;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: .28px;
}
.b-exchange-template--submit{
    text-align: center;
    padding-top: 40px;
    margin-bottom: 0;
}


/*personal data*/
.b-personal{
    display: flex;
}
.b-personal>div{
    max-width: 50%;
    width:50%;
}
.b-personal--left{
    padding-right: 20px;
}
.b-personal--right{
    padding-left: 20px;
}
.b-personal .profile-input-field,.user-invoice .profile-input-field{
    flex-direction:column;
    align-items: flex-start;
}
.b-personal .profile-input-field input,.user-invoice .profile-input-field input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
}





.user-phone-field{
    display: block;
}
.btn-change-password{
    min-width: 204px;
    height: 40px;
    margin: 0 0 0 auto;
    display: block;
    font-size:18px;
}

.user-invoice{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.user-invoice__item{
    width: 50%;
    max-width: 50%;
    margin-bottom: 20px;
}
.user-invoice__item:hover input{
    background-color: #71e1e324;
    transition:0.3s;
}
.user-invoice__item:nth-child(odd){
    padding-right: 20px;
}
.user-invoice__item:nth-child(even){
    padding-left: 20px;
}
.profile-input-field .user-invoice__item_label{
    font-weight: 400;
    cursor: pointer;
}
.user-invoice__item_label{
    position: relative;
    padding-left: 35px;

}
.user-invoice__item_label>span{
    color:#24d0d4;
    font-weight: 600;
}
.user-invoice__item_label:before{
    content:'';
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
}



/*profile program*/
.b-program.b-profite__part--right{
    padding-bottom: 0;
}

.b-program-info{
    padding: 20px;
    background-color: #d3faeb;
}
.b-program-info__text,.b-program-info__text a{
   font-size:14px;
    line-height: 18px;
}
.b-program-info__create{
    font-size:14px;
    line-height: 18px;
    padding-top:10px;
}
.b-program-info__create span{
    display: block;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.42px;
}
.b-program-info__create .btn.btn-alert{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.b-program-code{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #f8f8f8;
    margin: 20px 0;
}
.b-program-code span{
    font-size: 14px;
    min-height: 50px;
    padding-top: 15px;
}
.b-program-code span.bg-gray{
    background-color: #d7d7c8;
    font-weight: 500;
    color:#000;
}
.b-program-code .xs{
    width:40%;
    min-width: 40%;
    padding-left: 20px;
}
.b-program-code .lg{
    width:60%;
    min-width: 60%;
}
.b-program-code xmp{
    display: inline;
}
.b-program-code .bt-xs,.b-program-code .bt-lg{
    padding-top: 18px;
    padding-bottom: 18px;
}
.b-program-code__button{
    background: #4cae50;
    color: #fff;
    font-size: 14px;
    width: 160px;
    min-width: 140px;
    height: 35px;
    margin: 2px 0;
    outline: none;
    transition:0.3s;
}
.b-program-code__button:hover{
    background: #59c75d;
    box-shadow:none;
}
.b-program-code__button:focus{
    background: #3e8e41;
    box-shadow:none;
    transition:0.1s;
}
/*profile program*/
/*profile profit*/
.b-program-profit{
    background: url("../images/program-profit-bg.png") no-repeat center center;
    background-size:cover ;
    padding: 20px 20px 30px;
    width: calc(100% + 40px);
    transform: translateX(-20px);
}
.b-program-profit_header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.b-program-profit_header>div{
    width: 50%;
    min-width: 50%;
}
.profit-header-item{
    color:#fff;
}
.b-program-profit_header .profit-header-item button{
    width: 200px;
    margin:0 5px 10px;
}
.profit-procent-block{
    display: flex;
    align-items: center;
}
.profit-procent-num{
    font-size: 49px;
    font-weight: 900;
    letter-spacing: 0.98px;
    line-height: 50px;
}
.profit-procent-label{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 0.4px;
    max-width: 250px;
    padding-left: 15px;
    line-height: 26px;
}
.btn-alert.profit-btn{
    min-width: 140px;
    width: 140px;
    height: 40px;
    font-size: 16px;
    float: right;
}
.profit-header-item__exchange{
    display: flex;
    justify-content: flex-end;

}

/*profile profit*/
/*profit report*/
.profit-report__list{
    background-color: #fff;
    padding: 15px 0 0;
    min-height: 200px;
}
.profit-report__item{
    display: flex;
    padding: 0 20px;
    transition:0.3s;
    border-bottom: 1px solid #f8f8f8;
}
.profit-report__item.profit-report__item_title:hover{
    background:#fff;
}
.profit-report__item:hover{
    background: #f8f8f8;
}
.profit-report__item>span{
   width: 50%;
   min-width: 50%;
    padding: 5px 0;
}
/*profit report*/
/*status-page*/
.b-profile__header.new{
    background: #468cad;
}
.b-profile__header.in-progress{
    background: #24d0d4;
}
.b-profile__header.header--error,.b-profile__header.failed{
    background-color: #ae4e4c;
}
.b-profile__header.header--success,.b-profile__header.completed{
    background-color: #4cae50;
}

.status-date{
    display: block;
    font-size: 16px;
    font-weight: 400;
    color:#f8f8f8;
}

.status-date span{
    font-size: 16px;
    font-weight: 700;
    padding-left: 5px;
}









.b-main.status-page {
    padding: 125px 0 30px;
}
.status-page .page-title {
    margin-bottom: 30px;
}
.status-page .alert-container {
    width: 100%;
    max-width: 930px;
    margin:0 auto 30px;
}

.status-page .b-check-amount__accounts>div{
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    min-width: 100%;
}
.status-page .b-check-amount__accounts{
    position: relative;
    overflow: hidden;
    padding-top: 0;
}
.status-page .b-check-amount__currency>div {
    padding-left: 60px;

}
.status-page-message{
    padding-top: 0;
    margin-bottom: 10px;
    text-align: center;
}
.status-page-message__content{
    padding-top: 30px;
}
.status-page-message__content p{
    color: #494949;
}
.status-page-message__content p>b{
    font-weight: 500;
}
.message-btc-title{
    color: #000000;
    font-weight: 600;
    letter-spacing: 0.36px;
}
.message-btc-link{
    color: #2e5cc3;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.status-page-message__btc{
    padding-top:30px;
    padding-bottom: 0;
}
.status-page-message__btc:after{
    content:'';
    width:150%;
    height: 1px;
    display: block;
    position: absolute;
    left: 0;
    background-color: #eaeaea;
}
.message-btc-count{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.36px;
}
.message-btc-count span{
    font-size: 18px;
    font-style: italic;
    color: #24d0d4;

}
/*status-page*/
