.b-reset-pasword{

}
.b-reset-pasword h1{
     font-size: 35px;
     font-weight: 700;
     margin-bottom: 20px;
     text-align: center;
     letter-spacing: 1.7px;
}
.b-reset-pasword .container>p{
    font-size: 17px;
    color: #909090;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.b-reset-pasword .container .row>.col-lg-5{
    margin:0 auto;
}

#request-password-reset-form label {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}
#request-password-reset-form .form-group input{
    width: 100%;
    height: 40px;
    border: 2px solid #dee2e6;
    border-radius: 4px;
    padding: 0 10px;
}
#request-password-reset-form .form-group input:focus{
    box-shadow: 0px 0px 3px 0px #39d1d4;
    border: 2px solid #39d1d4 !important;
    outline: none;
}
#request-password-reset-form .form-group.has-error input{
    border: 2px solid #ff73718c;
}
#request-password-reset-form .form-group.has-success input{
    border: 2px solid #b8ffba;
}
#request-password-reset-form .form-group p {
    padding-top: 3px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 0;
    position: absolute;
    color: #c34240;
    display:none;
}
#request-password-reset-form .form-group.has-error p {
    display: block;
}

#request-password-reset-form .form-group .button {
    width: 165px;
    height: 38px;
    border-radius: 5px;
    padding-top: 3px;
    text-align: center;
    border: 1px solid #23cbcf;
    background-color: #23cbcf;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    cursor:pointer;
    transition:0.3s;
}
#request-password-reset-form .form-group .button:hover {
    border: 1px solid #61d1d4;
    background-color: #17adb1;
    color: #fff;
}