@media screen and (max-width: 1440px) {
    .b-article__title {
        max-width: 95%;
    }
}

@media screen and (max-width: 1366px) {
    #reserves-review__line{
        transform: rotate(30deg);
        left: -680px;
    }
    #reserves-review__corner {
        width: 35%;
        height: 170px;
    }
    #reserves-review__corner:before {
        border-right: 480px solid #e2eff8;
    }
    #reserves-review__corner:after {
        border-right: 520px solid #effaff;
    }
    /*.review-btn-fixed {*/
        /*display: block;*/
    /*}*/
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1199px) {





    #exchange-currency-from,.home-page.full-screen #exchange-currency-from,#exchange-currency-from.scroll-items{
        position: relative;
        width: 50%;
        float: left;
        border-right: 1px solid #eaeaea;
        transform:translateX(0);
        transition:0.5s;
        overflow-y: auto;
        height: auto;
        animation:none;
        margin-bottom: 0;
    }
    #exchange-currency-to,.home-page.full-screen #exchange-currency-to,#exchange-currency-to.scroll-items{
        position: relative;
        transform:translateX(0px);
        width: 50%;
        float:right;
        transition:0.5s;
        overflow-y: auto;
        height: auto;
        animation:none;
        margin-bottom: 0;
    }
    .b-exchange-currency__item,.full-list .b-exchange-currency__item {
        padding: 12px 5px 5px 40px;
        border-bottom: 1px solid #ececec;
        height: 40px;
    }
    .order-page .b-exchange-currency__item, .order-page .full-list .b-exchange-currency__item {
        padding: 0 5px 5px 40px;
        border-bottom: 1px solid #ececec;
        height: 40px;
    }
    .order-page .b-exchange-currency__item:before {
       top:12px;
    }
    .order-page .b-exchange-currency__item a{
        height: 40px;
        padding-top: 12px;
    }
    .b-exchange__main_part--from>p {
        width: 30px;
    }
    .b-exchange__settings--full {
        display: none;
    }
    .isVisited .order-page #exchange-currency-from,.isVisited .order-page #exchange-currency-to {
        transform: translateX(0);
    }
    .bg-currency-icon--adv {
        top: 80px;
        left: 13%;
    }
    .bg-currency-icon--pm {
        top: 50px;
        left: 55%;
    }
    .bg-currency-icon--qiwi {
        top: 140px;
        right: 3%;
        transform: scale(0.6);
    }
    .bg-currency-icon--yandex {
        top: 370px;
        right: -175px;
        transform: scale(0.5);
    }

    .b-statistic {
        padding: 0 20px;
    }
    .b-statistic__item_title {
        width: 28%;
        font-size: 26px;
        line-height: 32px;
        padding-top: 40px;
    }
    .b-statistic__item_title > b {
        font-size: 28px;
    }
    .b-statistic__icon {
        width: 18%;
        padding: 70px 10px 0;
        font-size: 15px;
    }
    .b-statistic.bitcoin-active:before {
        width: 220px;
        height: 260px;
        background-size: cover;
        z-index: 3;
        top: -260px;
        right: 80px;
        /* -webkit-transform: scale(.7); */
        /* transform: scale(.7); */
    }
    .b-exchange__settings--message{
        display: none !important;
    }
    #exchange-lists {
        position: absolute;
        width: 800px;
        left: 0;
        right: 0;
        margin:0 auto;
    }
    .order-page.full-screen #exchange-lists #exchange-currency-from,.order-page #exchange-lists #exchange-currency-from {
        left: 0;
        width: 50%;
    }
    .order-page.full-screen #exchange-lists #exchange-currency-to,.order-page #exchange-lists #exchange-currency-to {
        right: 0;
        width: 50%;
    }

    .order-page-title h1 {
        font-size: 26px;
    }
}
@media screen and (max-width: 991px) {
    #exchange-lists {
        width: 690px;

    }
    .b-header__nav_item {
        font-size: 15px;
        padding: 7px 7px;
        border: 1px solid #23cbcf;
        background: #23cbcf;
        border-radius: 5px;
        color: #fff;
    }
    .b-header__nav_item:hover,.b-header__nav_item:active {
        background: #17adb1;
        border: 1px solid #17adb1;
        color: #fff;
    }
    .site-work-switch {
        height: 30px;
        margin-right: 20px;
        width: 90px;
    }
    .site-work-switch:before {
        content: "";
        width: 30px;
        height: 30px;
    }
    .site-work-switch:after {
        padding: 6px 0 0 12px;
        font-size: 14px;
    }
    .site-work-switch.switch-close:after {
        padding: 6px 7px 0 0;
    }
    .banner-slogan {
        padding-top: 5px;
    }
    .b-exchange{
        width: 100%;
    }
    .b-exchange__input {
        font-size: 28px;
    }
    .b-exchange__input::placeholder{
        font-size:16px;
    }
    .b-exchange__main_part--from {
        padding: 10px 15px 40px 30px;
    }
    .b-exchange__main_part--to {
        padding: 10px 30px 40px;
    }
    .b-exchange__footer>div {
        padding: 20px 30px 10px;
    }
    .b-statistic {
        padding: 0 5px 0 20px;
        align-items: flex-start;
    }
    .b-statistic:before {
        top: -204px;
        right: 2px;
    }
    .b-statistic__item_title {
        width: 22%;
        font-size: 15px;
        line-height: 26px;
        padding-top: 45px;
    }
    .b-statistic__item_title > b {
        font-size: 16px;
    }
    .b-statistic__icon {
        width: 20%;
        padding: 70px 10px 0;
        font-size: 13px;
        margin-top:15px;
    }
    .b-reserves__item_count {
        font-size: 16px;
    }
    .b-reserves__item {
        padding: 25px 0 25px 40px;
    }
    .partners-list li {
        height: 70px;
        width: 33%;
    }
    .partners-list__item {
        margin: 0 auto;
    }
    .copyright {
        font-size: 13px;
    }
    .b-statistic.bitcoin-active:before {
        width: 200px;
        height: 235px;
        background-size: cover;
        z-index: 3;
        top: -235px;
        right: 16px;
    }


}
@media screen and (max-width: 767px) {
    #exchange-lists {
        width: calc(100% - 30px);
    }
    .order-page.full-screen #exchange-lists #exchange-currency-from,.order-page #exchange-lists #exchange-currency-from, .order-page.full-screen #exchange-lists #exchange-currency-to,.order-page #exchange-lists #exchange-currency-to {
        top: 325px;
    }
    #mobile-menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        position: fixed;
        z-index: 1020;
        width: 100%;
        background: #f4f3f3;
        bottom: 0;
        box-shadow: 0px 8px 19px 2px #545454;
    }

    .order-page-title h1 {
        font-size: 24px;
    }

    .b-main.order-page {
        padding: 115px 0 30px;
    }

    .container {
        max-width: 100%;
        width: 100% !important;

    }
    .site-enter{
        display: none;
    }
    .modal-open #header-info {
         margin-left: 0;
    }
    #header-navigation {
        background-color: #2999ab;
        position: fixed;
        z-index: 888;
        width: 100%;
        display: none;
    }
    .b-header__nav {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        padding: 20px 10px 50px;
    }
    .b-header__nav_item {
        padding: 10px;
        width: 300px;
        text-align: center;
        margin-bottom: 15px;
    }

    .currency-filter__left, .currency-filter__right {
        padding: 0 15px;
    }

    footer{
        padding-bottom: 49px;
    }
    .mobile-menu__item--menu{
        background: #105f6b url(../images/list.svg) no-repeat center center;
        -webkit-background-size: 30px 40px;
        background-size: 30px 40px;
        height: 100%;
        width: 20%;
        cursor:pointer;
    }
    .mobile-menu__item--menu.open{
        background: #175c67 url(../images/close.svg) no-repeat center center;
        -webkit-background-size: 30px 40px;
        background-size: 30px 40px;
    }
    .mobile-menu__item--exchange,.mobile-menu__item--enter{
        height: 100%;
        width: 40%;
    }
    .mobile-menu__item--exchange>a,.site-enter--mobile{
        background: #127180;
        width: 100%;
        display: block;
        height: 50px;
        color: #fff;
        font-weight: 700;
        text-align: center;
        padding-top: 15px;
        cursor: pointer;
    }
    .mobile-menu__item--exchange>a:hover,.mobile-menu__item--exchange>a:active,.site-enter--mobile:hover,.site-enter--mobile:active{
        background: #188c9e;
    }
    .site-enter--mobile{
        border: 0;
        border-radius: 0;
        padding-top: 5px;
    }
    .exchange-submit button{
        position: relative;
        z-index: 8;
    }
    .b-exchange__footer>div {
        padding: 20px 20px 10px;
    }
    .banner-title {
        font-size: 25px;
        padding-top: 20px;
    }
    .exchange {
        padding-top: 40px;
    }
    .site-work-switch {
        width: 75px;
    }
    .site-work-switch:after {
        font-size: 13px;
    }
    #exchange-ddl-from, #exchange-ddl-to {
        font-size: 16px;
    }
    .b-exchange__main_part--from {
        padding: 10px 15px 15px 20px;
    }
    .b-exchange__main_part--to {
        padding: 10px 20px 15px;
    }
    .block-header {
        height: 65px;
        padding: 20px 20px;
        background-color: #f8f8f8;
    }
    .block-header__text {
        font-size: 18px;
    }
    .b-reserves {
        padding: 0 20px;
    }
    .b-reserves__item_title,.b-reserves__item_count{
        font-size: 14px;
    }
    .news-title {
        font-size: 26px;
        padding-top: 25px;
        margin-bottom: 15px;
        letter-spacing: 0;
    }
    #news .slick-track {
        left: 0;
    }
    .b-footer__nav_item {
        font-size: 14px;
    }
    .site-logo {
        transform: scale(0.8);
        margin-right: 15px;
    }
    .b-exchange__main_part--from>div {
        padding-right: 30px;
    }
    .b-statistic {
        padding: 0 0 15px;
        flex-wrap: wrap;
        height: auto;
    }
    .b-statistic__item_title {
        width: 100%;
        background: #f8f8f8;
        height: 70px;
        font-size: 15px;
        line-height: 18px;
        padding-top: 20px;
        padding-left: 20px;
        letter-spacing: 0;
    }
    .b-statistic__icon {
        width: 25%;
    }
    .b-header-info--right{
        display: none;
    }

    .review-btn-fixed {
        bottom:50px;
    }
}
@media screen and (max-width: 639px) {
    .b-exchange__course--to{
        display: block;
    }

    .b-exchange__maximum p span {
        display: block;
    }

 .order-page #exchange-lists #exchange-currency-from, .order-page #exchange-lists #exchange-currency-to, .order-page.full-screen #exchange-lists #exchange-currency-from, .order-page.full-screen #exchange-lists #exchange-currency-to {
            top: 380px;
        }

    .order-page-title h1 {
        font-size: 22px;
    }

    .b-header-info {
        padding: 10px 0;
    }
    .site-logo {
        transform: scale(.7);
    }
    .b-header-info--left{
        width: 65%;
        justify-content: flex-start;
    }
    .b-header-info--right {
        width: 35%;
    }
    .site-register {
        width: 135px;
    }
    .page-template .b-header-info--right .site-register {
        width: 280px;
        display: block;
        margin:0 auto;
    }
    .home-template .b-header-info--right .site-register {
        display: none;
    }
    .site-work-switch {
        width: 40px;
        height: 25px;
        transform: translateX(-15px);
    }
    .site-work-switch:before {
        content: "";
        width: 25px;
        height: 25px;
        left: -5px;
    }
    .site-work-switch:after {
        display:none;
    }
    #exchange-ddl-from:before, #exchange-ddl-to:before {
        width: 25px;
        height: 25px;
    }
    .b-exchange__main_part--from {
        padding: 10px 15px 15px 15px;
    }
    #exchange-ddl-from, #exchange-ddl-to {
        font-size: 14px;
        padding-left: 30px;
    }
    .b-exchange-currency__item, .home-page.full-screen .b-exchange-currency__item {
        padding: 12px 5px 5px 30px;
    }
    .b-exchange-currency__item:before {
        left: 10px;
    }
    .b-exchange__footer {
        flex-wrap: wrap;
    }
    .b-exchange__footer>div {
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
        background: #f8f8f8;
    }
    .b-exchange__footer--right{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top: 1px solid #ececec;
    }
    .b-reserves__item {
        width: 100%;
        padding: 15px 0 15px 40px;
    }
    .b-reviews__item {
        width: 100%;
        margin-top: 10px;
    }
    .b-reviews__item:nth-last-child(2) {
        border-bottom: 1px solid #eaeaea;
    }
    .footer-navigation__content {
        flex-wrap: wrap;
    }
    .footer-navigation__content .site-logo{
        margin:0 auto;
    }
    .b-footer__nav {
        width: 100%;
    }
    .b-footer__nav_item {
        font-size: 12px;
    }
    .b-reviews {
        padding: 0 20px;
    }
    .b-reviews__item_text {
        font-size: 14px;
    }
    #news .slick-track {
        left: auto;
    }
    .bg-currency-icon {
        transform: scale(0.5);
    }
    .b-statistic.bitcoin-active:before {
        right: 0;
    }

    .currency-filter__left, .currency-filter__right {
        width: 50%;
        padding: 0 15px 20px 16px;
        display: flex;
        flex-wrap: wrap;
    }
    .currency-filter__right {
        justify-content: flex-end;
    }

    .currency-filter__btn {
        font-size: 13px;
        width: 50%;
        margin-top: -1px;
        margin-left: -1px;
    }
}
@media screen and (max-width: 575px) {
    .order-page #exchange-lists #exchange-currency-from, .order-page #exchange-lists #exchange-currency-to, .order-page.full-screen #exchange-lists #exchange-currency-from, .order-page.full-screen #exchange-lists #exchange-currency-to {
        top: 380px;
    }
    .order-page .b-exchange__input {
        font-size: 18px;
    }
    .order-page .exchange-sum {
        padding-right: 45px;
    }
    .order-page #exchange-sum-currency--from, .order-page #exchange-sum-currency--to, .order-page .exchange-sum-currency--from, .order-page .exchange-sum-currency--to  {
        position: absolute;
        transform: translateY(-28px);
        font-size: 18px;
        right: 10px;
        color: #4cae50;
    }

    .b-main.order-page {
        padding: 90px 0 30px;
    }

    .b-main.order-page .exchange {
      padding-top: 5px;
    }

    .b-exchange__maximum p b {
        display: block;
    }

    .payment-success h1,.payment-fail  h1{
        font-size: 22px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
    }
    .b-exchange-template--submit {
        padding-top: 10px;
    }
}
@media screen and (max-width: 480px) {
    .order-page #exchange-lists #exchange-currency-from, .order-page #exchange-lists #exchange-currency-to, .order-page.full-screen #exchange-lists #exchange-currency-from, .order-page.full-screen #exchange-lists #exchange-currency-to {
        top: 410px;
    }

    .b-main.order-page {
        padding: 80px 0 30px;
    }

    .order-page-title h1 {
        font-size: 20px;
    }
    .order-page-title h1 span{
        display: block;
    }

    .order-show-message {
        right: 10px;
    }

    .banner-subtitle {
        font-size: 14px;
        font-weight: 400;
    }
    .banner-title {
        font-size: 18px;
    }
    #home-banner {
        padding-top: 75px;
    }
    .b-exchange__main {
        padding: 20px 0 0;
    }
    .currency-filter__left,
    .currency-filter__right {
        padding: 0 10px 20px 11px;
    }
    .b-exchange__main_part--from>p {
        width: 35px;
        top: -3px;
        right: -18px;
    }
    .b-exchange__settings--reverse {
        width: 35px;
    }
    #exchange-ddl-from:before, #exchange-ddl-to:before {
        top: -45px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .b-exchange__main_part--from>div {
        padding-right: 0;
    }
    .b-exchange__main_part--from {
        padding: 40px 10px 40px;
    }
    .b-exchange__main_part--to {
        padding: 40px 10px 40px;
    }
    .b-exchange__input {
        font-size: 20px;
    }
    .b-exchange__input::placeholder {
        font-size: 13px;
    }
    #exchange-ddl-from, #exchange-ddl-to {
        font-size: 13px;
        padding-left: 0;
        display: block;
    }






    .b-statistic:before {
        display: none;
    }
    .b-statistic__icon {
        width: 50%;
    }
    .b-reserves__item:before {
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
    }
    .b-reserves__item {
        padding: 15px 0 15px 30px;
    }
    .b-reserves__item_count, .b-reserves__item_title {
        font-size: 13px;
    }
    .b-article{
        margin: 5px;
    }
    #partners {
        background: #47787d url(../images/footer-links-bg.png) no-repeat 50%;
        background-size: cover;
    }
    .partners-list__item.privat{
        background-size: contain;
    }
    .partners-list li {
        height: 70px;
        width: 50%;
    }
    #news {
        padding-bottom: 30px;
    }
    .b-footer__nav {
        flex-direction: column;
    }
    .copyright {
        font-size: 10px;
    }
    .partners .container{
        padding: 0 15px;
    }
    #reviews>p{
        padding: 0 15px;
    }
    .news-title, .payment-success,.payment-fail,.b-main.simple-page{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 359px){
    #exchange-ddl-from, #exchange-ddl-to {
        font-size: 12px;
        padding-left: 0;
    }
    .b-exchange-currency__item {
        font-size: 12px;
    }
}
@media (min-width: 768px){
    #mobile-menu {
        display: none;
        bottom:-100px;
    }
}
@media (min-width: 576px){

}




/*profile sidebar*/
@media screen and (min-width: 1200px){
    .b-profile__menu_btn{
        display:none!important;
    }
}
@media screen and (max-width: 1199px){
.b-profile{
    position: relative;
    overflow: hidden;
}
    .b-profile  .b-profite__part--left{
        width: 395px;
        min-width: 395px;
        height: 100vh;
        padding: 0px 35px 30px 20px;
        position: fixed;
        z-index: 5;
        top:0;
        right: -15px;
        overflow-y: scroll;
        transition:0.5s;

    }
    .b-profile  .b-profite__part--left.close-sidebar{
       transform:translateX(400px);

    }
    .btn-exit {
        margin: 0 auto 30px;
    }
    .b-profile__menu_btn{
        z-index: 20;
        background: #3ad2d5 url(../images/thin-arrow-pointing-left.svg) no-repeat center center;
        background-size:30px 30px ;
        width: 50px;
        height: 45px;
        position: fixed;
        top: 120px;
        border: 0;
        border-radius: 4px 0 0 4px;
        right: 0px;
        display: none;
        outline:none !important;
        cursor: pointer;

    }
    .b-profile__menu_btn.open{
        background: #8ae7e9 url(../images/close-white.svg) no-repeat center center;
        background-size:30px 30px ;

    }
    .b-profite__part--right {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 991px){
    .b-profile__list-large{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
    }
    .history-list__item_title{
        display:none;
    }
    .history-list__item:nth-child(odd) {
        background-color: #ffffff;
    }
    .history-list__item{
        width: 49%;
        flex-direction: column;
        margin-bottom:20px;
        border: 1px solid #e5e4e9;
        padding: 0;
        border-radius: 4px;
    }
    .history-list__item:not(:first-child):hover {
        background-color: #f8feff;
    }
    .history-list__item span{
        display: block;
        width: 100%;
        min-width: 100%;
        text-align: center;
        min-height: 30px;
    }
    .history-list__item span>span{
        padding-top: 7px;
        min-height: 35px;
    }
    .history-list__item span .item-title{
        display: block;
       font-weight:500;
        background-color: #efefef;
    }
    .history-list__item span>span .item-data__to {
        position: relative;
        padding: 7px 15px 0 32px;
    }
    .history-list__item span>span .item-data__from{
        position: relative;
        padding: 7px 15px 10px 32px;
    }
    .history-list__item span>span .item-data__from:before, .history-list__item span>span .item-data__to:before {
        top: 7px;
        left: 10px;
    }
    .history-list__item span>span .item-data__from:after {
       bottom:0;
        left: 13px;
    }
    .history-list__item span.item-status .item-data {
        padding-top: 10px;
    }
.history-list__item span.item-status .item-status__preloader {
    position: static;
    background-color: #d5ecc6;
    margin-top: 10px;
    }
.history-list__item span.item-course .item-data>a>span{
    padding-bottom: 15px;
    }
    .history-list__item span.item-course .item-data>a>span:after{
        border-top: 5px solid #3e77aa;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 0;
        right: 0;
        left: 0;
         top: auto;
        bottom: 5px;
        margin: auto;
    }
    .history-list__item span>span.item-send--remove {
        height: 45px;
        background: #efdbdb url(../images/delete-icon.svg) no-repeat 50%;
        background-size: 20px;
        position: static;
        border-radius: 0 0 3px 3px;
        margin-top: 10px;
    }
    .order-page .b-exchange__footer>div {
        padding: 20px 15px 10px;
    }
    .order-page .exchange-sum>span {
        font-size: 27px;
    }
    .order-data{
        width: 100%;
    }
    .b-reviews-form>div:first-child,.b-reviews-form>div:last-child {
        width: 100%;
        max-width: 100%;
    }
    .b-reviews-form__title{
        text-align: center;
    }
}
@media screen and (max-width: 767px){
    .b-profile .b-profite__part--left {
        height: calc(100vh - 50px);
    }
    /*profile data*/
    .b-personal{
        flex-direction: column;
    }
    .b-personal>div{
        width: 100%;
        min-width: 100%;
    }
    .b-personal--left{
        padding-right: 0;
    }
    .b-personal--right{
        padding-left: 0;
    }
    .btn-change-password {
        margin: 0 auto;
    }
    .user-invoice__item {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .user-invoice__item:nth-child(odd) {
         padding-right:0;
    }
    .user-invoice__item:nth-child(2n) {
         padding-left: 0;
    }
    /*profile program*/
    .b-program-info {
        text-align: center;
    }
    .b-program-code {
        flex-direction: column;
    }
    .b-program-code .xs,.b-program-code .lg {
        width: 100%;
        min-width: 100%;
        padding: 17px 10px;
        text-align: center;
    }
    .b-program-code .lg {
       order:2
    }
    .b-program-code .bt-xs {
        border-bottom:1px solid #d7d8c8;
    }

    /*alert messages */
    .b-alert--info {
         padding: 80px 15px 20px !important;
         border-left: 10px solid #9ccde4;
     }
    .b-alert--info:after, .b-alert--info:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 20px;
        bottom: auto;
        margin: auto;
    }
    .b-alert--info:after{
        font-size:22px;
    }
    .b-alert--info.alert-green {
        border-left: 10px solid #80c18f;
    }
    .b-alert--info.alert-red {
        border-left: 10px solid #a94442;
    }
    .b-alert--info .b-alert__message {
        font-size: 16px !important;
        line-height: 18px !important;
    }
    .b-alert-warning {
        border-left: 10px solid #f2e9cd;
    }
    .b-alert--info.alert-red:after {
        color: #f2dddd;
        font-size: 22px;
    }
    .amount-action__btns button {
        margin: 5px;
    }
    .b-title--h1,.status-page h1,.page-title {
        font-size: 28px;
    }
    .status-page .b-check-amount__accounts, .status-page .b-check-amount__currency {
        padding: 20px 15px;
    }
    .status-page .b-check-amount__currency>div {
        padding-left: 10px;
        padding-right: 10px;
    }
    .status-page .b-check-amount__accounts>div {
        padding-left: 0;
        padding-right: 0;
    }

    .b-islogin__menu_mobile{
        width: 150%;
        background: #127180;
        border: 1px solid #3b919e;
        border-radius: 0;
        transform: translateX(10px);
        margin-right: -8px;
        padding: 0;
    }
    .b-islogin__menu_mobile .dropdown-item{
       color:#fff;
        padding: 10px 15px;
    }
    .b-islogin__menu_mobile .dropdown-item:last-child{
        border-top: 1px solid #3b919e;
    }
    .b-islogin__name_mobile{}
    .b-islogin__name_mobile:after{
        display: none;
    }
    .is_authorizated .b-header-info--right{
        display: none;
    }
    .is_authorizated .b-main {
        padding: 110px 0 30px;
    }
}
@media screen and (max-width: 639px) {
    .b-title--h1, .status-page h1,.page-title{
        font-size: 24px;
    }
    .status-page h1{
        padding-top: 20px;
    }
    .page-title{
        margin-bottom: 25px;
    }
    .history-list__item {
        width: 100%;
        margin-bottom: 40px;
    }

    .b-header-info {
        flex-direction: column;
    }
    .b-header-info--left, .b-header-info--right{
        width:100%;
        justify-content: flex-start;
    }
    .b-header-info--right{
        padding-left: 20px;
        margin-top: 10px;
    }



    /*profile program*/
    .b-program-profit_header>div {
        width: 100%;
        min-width: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .profit-procent-label {
        max-width: 100%;
    }
    .btn-alert.profit-btn {
        float: none;
    }
    .profit-header-item.profit-header-item__exchange{
        padding-top: 10px;
    }
    .profit-report__list {
        padding: 15px 0 1px;
    }
    .profit-report__item {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }
    .profit-report__item>span {
        width: 100%;
        min-width: 100%;
        padding: 5px 0;
    }
    .profit-report__item>span:first-child {
        background-color: #85b1c4;
        color: #fff;
    }
    .profit-report__item>span:last-child {
        background-color: #d8ecf6;
        color: #565656;
    }
    /*profile template form*/
    .b-exchange-template {
        padding-top: 15px;
        flex-direction: column;
    }
    .b-exchange-template>div {
        width: 100%;
        min-width: 100%;
    }
    .b-exchange-template>div:first-child {
        border-right: 0px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        padding-right: 15px;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
    .b-exchange-template #exchange-currency-from, .b-exchange-template #exchange-currency-to {
        max-height: 265px;
        width: calc(100% - 55px);
    }
    .b-exchange-template>div:last-child {
        padding-left: 0;
    }
    .b-exchange-template .exchange-sum>span {
        font-size: 25px;
    }
    .b-check-amount__accounts, .b-check-amount__currency {
        padding: 20px 15px;
    }
    .amount-action__message {
        margin: 0 auto 25px;
        padding-left: 20px;
    }
    .amount-action__message>span {
        font-size: 14px;
    }
    .b-check-amount__alerts {
        padding: 0 15px;
    }
    .status-page .b-check-amount__value {
        font-size: 24px;
    }
    .status-page .message-btc-link {
        overflow: scroll;
    }
    .status-page .message-btc-count span {
        font-size: 16px;
        display: block;
    }
    .news-articles .b-article {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .b-review-item {
        flex-direction: column;
        padding: 0;
    }
    .b-review-item__author,.b-review-item__excerpt{
        width: 100%;
        max-width: 100%;
        padding: 10px 15px;
    }
    .b-review-item__excerpt{
        padding: 20px 15px;
    }
    .b-review-item__author{
        order:3;
        background: #39d1d4;
        color: #fff;
        text-align: center;
    }
    .order-page .order-inputs {
        min-height: auto;
    }
    .order-page .b-exchange__footer--left {
        padding-bottom: 27px !important;
        border-bottom: 3px solid #e6e6e6;
    }
    .order-page .b-exchange__footer--right {
        padding-bottom: 15px !important;

    }
    .order-page .form-control[readonly] {
        text-align: center;
    }
    .alert-modal__body{
        padding: 60px 5% 45px;
    }
}
@media screen and (max-width: 480px) {
    .b-title--h1, .status-page h1,.page-title{
        font-size: 21px;
    }
    .b-profile__header.registration-title p {
        font-size: 25px;
    }
    .status-page h1{
        padding: 20px 10px 0;
    }
    .b-profite__part--right {
        padding: 0 10px 30px;
    }
    .b-apply-code__body {
        padding: 20px 15px;
    }
    .b-profile .b-profite__part--left {
        width: calc(100vw + 15px);
        min-width: calc(100vw + 15px);
    }
    .b-profile .b-profite__part--left.close-sidebar {
        transform: translateX(500px);
    }
    .b-exchange-template .exchange-sum>span {
        top:0;
    }
    .b-exchange-template #exchange-ddl-from,.b-exchange-template #exchange-ddl-to {
        padding-left: 40px;
    }
    .b-exchange-template .dropdown-toggle::after {
        margin-left: 7px;
    }
.b-exchange-template #exchange-ddl-from:before,.b-exchange-template #exchange-ddl-to:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
}
    .b-exchange-template .account-number-message {
        padding: 12px 15px 11px;
        font-size: 12px;
        line-height: 15px;
    }
    .profit-procent-num {
        font-size: 36px;
        line-height: 40px;
    }
    .profit-report__item {
        padding: 0 10px;
    }
    .b-program-info__create .btn.btn-alert {
        min-width: 230px;
    }
    .b-program-code span.bg-gray.lg {
       overflow-x: scroll;
    }

    .b-profile__header p {
        font-size: 18px;
    }
    .b-alert--info {
        padding: 70px 10px 20px!important;
    }
    .fs-upload-target{
        width: 100%;
    }
    .fs-upload-target span:first-child {
        font-size: 16px;
    }
    .b-attach-image__buttons button {
        margin: 0 0 20px;
    }
.btn{
    min-width: 100%;
    width: 100%;
    font-size: 18px;
}
.container{
    padding:0;
}
    .b-alert--info .b-alert__title {
        font-size: 16px;
        line-height: 18px;
    }

    .order-page .exchange-sum>span {
        font-size: 20px;
    }
.order-page #exchange-ddl-from,.order-page #exchange-ddl-to {
    text-align: center;
    padding-right: 0;
}
    .order-page #exchange-ddl-from:before,.order-page #exchange-ddl-to:before {
        top: -35px;
    }
    .order-alert--top {
        padding: 0 10px;
    }
    .order-page .exchange {
        padding: 20px 5px;
        margin-bottom: 0;
    }
    .order-page .exchange-sum {
        margin-bottom: 0;
        padding-right: 45px;
    }
    .order-data {
        padding: 40px 10px 20px;
    }
    .order-page .profile-input-field {
        flex-direction: column;
    }
    .order-page .profile-input-field input {
        width: 100%;
    }
    .b-exchange__course p {
        font-size: 18px;
    }
    .b-check-amount__currency {
        padding: 40px 15px 20px;
    }
    .b-check-amount__currency {
        padding: 40px 15px 20px;
    }
    .b-check-amount__currency #exchange-ddl-from:before, .b-check-amount__currency #exchange-ddl-to:before {
        top: -30px;
        bottom: 0;
        left: 0;
        right: auto;
        margin: 0 auto;
    }
    .b-check-amount__currency .exchange-sum-label {
        font-size: 16px;
        padding-top: 10px;
    }
    .b-check-amount__currency .b-check-amount__value {
        font-size: 21px;
    }
    .b-check-amount__accounts.accounts-number span{
        display: block;
    }
    .b-check-amount__accounts.accounts-message {
        font-size: 12px;
    }
    .amount-action__btns {
        padding: 0 15px;
    }
    .amount-action__btns button {
        margin: 0 0 15px;
    }
    .processing-time {
        padding: 90px 10px 20px;
    }
    .processing-time:before {
        content: "";
        width: 65px;
        height: 65px;
        display: block;
        position: absolute;
        top: 15px;
        bottom: auto;
        left: 0;
        right: 0;
        margin: auto;
        background: url(../images/countdown-lg.svg) no-repeat 50%;
        background-size: 65px 65px;
    }
    .status-page .alert-container {
        padding: 0 10px;
    }
    .status-page .b-check-amount__currency {
        padding: 45px 10px 20px;
    }
    .status-page .b-check-amount__accounts {
        padding: 0px 10px 20px;
    }
    .b-faq{
        padding: 0 10px;
    }
    .b-faq h5 {
             font-size: 1.05rem;
         }
    .news-articles,.b-pagination{
        padding: 0 10px;
    }
    .b-reviews-form>div:first-child, .b-reviews-form>div:last-child {
        padding: 0 15px;
    }
    .review-list {
        padding: 25px 15px 20px;
    }

    .b-registration .register-form button{
        font-size: 18px;
    }
.b-reset-pasword,.site-login{
    padding-left: 15px;
    padding-right: 15px;
}
    .order-page .b-exchange__input {
        font-size: 18px;
    }
    .order-page .exchange-sum-currency--from, .order-page .exchange-sum-currency--to,.order-page #exchange-sum-currency--from, .order-page #exchange-sum-currency--to  {
        transform: translateY(-33px);
        font-size: 20px;
    }
    .order-data__item .profile-input-field .help-block {
        text-align: left;
    }
    .order-page .b-exchange-currency__item a {
        padding-left: 30px;
    }
    .exchange-submit,.banner-alert {
        padding-left: 15px;
        padding-right: 15px;
    }

    .b-outline-alert,.b-alert.b-alert--info.alert-blue{
        max-width: 96%;
        margin: auto;
    }
}
@media screen and (max-width: 400px) {

}
@media screen and (max-width: 360px) {
    .b-exchange-sidebar .b-countdown{
        position: relative;
        width: calc(100% + 40px);
        transform: translateX(-20px);
    }
    .b-exchange-sidebar .flipTimer {
        min-width: 320px;
        transform: translateX(-2px);
    }
}